@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*VARIABLES*/
$main-font: 'Roboto', sans-serif;
$text-size: 18px;
$titles-size: 30px;

$primary-color: #efefef;
$secondary-color: #f1f1f1;
// $tertiary-color: #;
// $quaternary-color: #191f21;

$titles-color: #566366;
$text-color: #919191;
$second-text-color: #ffffff;

$base-spacing: 1em;
$small-spacing: 0.5em;
$large-spacing: 2em;

$side-padding: 200px;

/*--------------------*/

* {
    font-family: 'Amaranth', 'Arial', 'sans-serif';
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


/*POUR LES MOBILES*/

body {
    min-height: 100vh;
    @extend %w-h-100;
    background: $primary-color;
    @include flex(column, center, center);
}