/*MIXINS*/
/*--------------------*/
/*Inherit*/
@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
#monMenu, body {
  height: 100%;
  width: 100%;
}

/*VARIABLES*/
/*--------------------*/
* {
  font-family: "Amaranth", "Arial", "sans-serif";
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/*POUR LES MOBILES*/
body {
  min-height: 100vh;
  background: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*HEADER & Navbar*/
header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 55px;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
header .header-title {
  color: whitesmoke;
  margin-left: 15px;
  display: flex;
}
header .header-title a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: whitesmoke;
}
header .header-title h1 {
  margin-right: 5px;
}

.menu-btn {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn .menu-btn-burger {
  width: 50px;
  height: 6px;
  background: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn .menu-btn-burger::before, .menu-btn .menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn .menu-btn-burger::before {
  transform: translateY(-16px);
}
.menu-btn .menu-btn-burger::after {
  transform: translateY(16px);
}

.menu-btn.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

#monMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  backdrop-filter: blur(8px);
  top: 0;
  left: 0;
  right: 0;
  padding: 55px 0 0 0;
  margin: 0 0 0 -100%;
  transition: all 0.5s ease;
  gap: 5vh;
}

nav li {
  list-style: none;
  position: relative;
}
nav li .anav {
  text-decoration: none;
  color: whitesmoke;
  -webkit-text-stroke: black 0.6px;
  font-weight: bolder;
  padding: 5px 10px;
  transition: all 0.8s ease;
  font-size: 6vh;
}
nav li .anav:hover {
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  transition: all 0.8s ease;
}
nav li .anav.active {
  background-color: whitesmoke;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.mobile-menu {
  margin-left: 0 !important;
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  color: whitesmoke;
  width: 100%;
  margin-top: auto;
}
footer .footer {
  color: whitesmoke;
  margin: 5px;
}
footer .footer p {
  margin-top: 3px;
}
footer .footer a {
  transition: all 0.6s;
}
footer .footer a:hover {
  border-bottom: 2px solid whitesmoke;
}

.footer a,
.footer p {
  text-decoration: none;
  color: whitesmoke;
}

@media all and (min-width: 480px) {
  .menu-btn {
    display: none;
  }
  nav {
    display: inline;
    width: 800px;
    text-transform: uppercase;
    z-index: 2;
  }
  #monMenu {
    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: inherit;
    transition: all 0.5s ease;
    backdrop-filter: none;
    padding: 0;
  }
  #monMenu li {
    font-size: 3vh;
  }
  #monMenu li a {
    -webkit-text-stroke: white;
    font-size: 4vh;
  }
  #contenu-php {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
/*MAIN*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  margin-top: 55px;
  margin-bottom: 25px;
}

p {
  text-indent: 2.5em;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.fade-in.is-visible {
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 25px;
  color: #333;
}

section {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.horizontal-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

#pp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 15px;
}
#pp img {
  max-width: 380px;
  width: 100%;
  box-shadow: 3px 3px 5px 0px darkolivegreen;
  border-radius: 25px;
}

.propos {
  background: #fff;
  max-width: 600px;
  width: 100%;
  height: auto;
  padding: 25px;
  border-radius: 25px;
  box-shadow: -3px 3px 5px 0px black;
}
.propos p {
  font-size: large;
}

#presence a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  transition: all 0.8s ease;
  font-size: 3vh;
}
#presence a:hover {
  background-color: lightgray;
  color: black;
  border-radius: 5px;
  transition: all 0.8s ease;
}

.button {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 0px 4px;
  padding: 10px;
  font-size: 1.2em;
  transition: all 0.5s ease;
  text-decoration: none;
  color: black;
}
.button a {
  text-decoration: none;
  color: black;
}
.button:hover {
  box-shadow: 0px 5px 10px;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}
.button:active {
  box-shadow: 0px 5px 20px;
  transform: scale(0.95);
}

.realisations {
  background: #f1f1f1;
  max-width: 900px;
  width: 100%;
  height: auto;
  padding: 25px;
  border-radius: 25px;
  box-shadow: -3px 3px 5px 0px black;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 10px;
}

.realisation {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.realisation p {
  text-indent: 0;
}
.realisation img {
  max-width: 380px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.realisation img:hover {
  box-shadow: 0px 5px 10px;
  transform: scale(1.01) translateY(-10px);
  box-shadow: 0 3px 5px 0px black;
}

/*VIDEO*/
#video-yt {
  height: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

iframe {
  width: 560px;
  height: 315px;
}

/*SKILS*/
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skills h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 20px;
}
.skills > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skills > div img {
  max-height: 150px;
  height: 100%;
  width: auto;
  transition: all 0.3s ease-in-out;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.skills > div img:hover {
  transform: scale(1.01) translateY(-10px);
}

/*PARTIE RESPONSIVE POUR PC*/

/*# sourceMappingURL=style.css.map */
